.banner {
    width: 100%;
}
.GD_Home{
    padding: 20px 10px;
    background-color:aqua;
    margin: 0px;
    border-radius: 0px;
    list-style: none;
}
.GD_Home>.active {
    color: aqua;
}
.thongbao {
    color: red;
}